$operator-font-size: 16px;

.demo {
    .operators {
        margin-top: $global-margin-top;
        font-size: $operator-font-size;
        &:hover {
            font-size: $operator-font-size + 3px;
        }
    }
}
