.form {
    display: inline-flex;
    flex-direction: column;
}

.form__entry {
    margin: 5px;
}

.form__entry_secret {
    -webkit-text-security: disc;
}

.form__save {
    width: 60px;
    text-align: center;
    margin-left: 5px;
}
